<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <ul>
    <h1>This is about Amani</h1>
    <p>This page is about Amani Mwasambu</p>
    <p>I love adventure and hanging out, making new friends and travelling to new destinations</p>
    </ul>
</body>

<%- include('../partials/footer') %>